.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.error {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}