.card {
    margin: 10px;
    width: 200px;
    border: 1px solid gray;
}
.card_panel {
    display: flex;
    justify-content: flex-end;
}
.img {
    width: 200px;
}
.title {
    margin-top: 20px;
    border-top: 1px solid gray;
    padding: 5px;
    font-weight: bold;
    font-size: 16px;
}